<li class="message">
    <div class="message-data">
        <p class="message-user" ><%= message.username %></p>
        <p class="message-text"><%= message.message %></p>
    </div>
    <a class="message-info" href="/details/<%= message.id %>">Open</a>
</li>